//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// Components that aren't in GOV.UK Frontend
@import "components/cards";

/* Override to force pages using the unbranded template to fill the page height */
.unbranded-fill-page {
  height: 100%;
}

/* Expansion on the GOV.UK width override classes (https://design-system.service.gov.uk/styles/layout/#width-override-classes) styles */
.govuk-\!-width-one-fifth {
  width: 100% !important;
  @include govuk-media-query($from: tablet) {
    width: 20% !important;
  }
}

/* Styling for the design team (i.e. Chris) to alert others that content is needed across the prototype */
.needs-content {
  color: #d4351c;
}

/* General prototype pages (not part of the service) */

/* Extra spacing (for smaller devices) above the 'Private beta (MVP)' section on the index page */
.index-padding {
  padding-bottom: 15px;
}
@media (min-width: 40.0625em) {
  .index-padding {
    padding-bottom: initial;
  }
}

/* Styling to distinguish any external service links from our service (e.g. GOV.UK One Login) */
.externalService {
  background: #f3f2f1;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 30px;
  margin-right: -20px;
  margin-bottom: 30px;
  margin-left: -20px;
}

/* Reduce whitespace beneath select section headings for better readability (i.e. sub-headings) */
.heading-override {
  margin-bottom: 5px;
}

/* Reduce whitespace beneath nested lists within lists for better readability */
.list-override {
  margin-bottom: 0;
}
@media (min-width: 48.0625em) {
  .list-override{
    margin-bottom: 5px;
  }
}

/* Styling of a third party (OPEN SOURCE) accessible tooltip and modal which was taken from Nicolas Hoffmann (https://a11y.nicolas-hoffmann.net/modal/) */
.js-modal:link, .js-modal:visited, .js-modal:hover, .js-modal:active, .js-modal:focus {
  color: #0b0c0c;
}

.js-modal-bolder:link, .js-modal-bolder:visited, .js-modal-bolder:hover, .js-modal-bolder:active, .js-modal-bolder:focus {  
  font-weight: bolder !important; // Expansion to make chosen links more distinguishable against the yellow GOV.UK tag component
}

dialog {
  display: block;
}

.no-scroll-html {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: .8;
  z-index: 666;
  cursor: pointer;
}

.modal {
  font-family: "GDS Transport", arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  left: 0;
  top: 25%;
  width: 50%;
  right: 0;
  margin: 0 auto;
  border: 1px solid #000;; 
  background: #fff;
  z-index: 667;
  padding: 2em;
  overflow: auto;
}
@media (min-width: 641px) {
  .modal {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.modal-close {
  -webkit-font-smoothing: antialiased;
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #1d70b8;
  cursor: pointer;
}
.modal-close:link {
  color: #1d70b8;
}
.modal-close:visited {
  color: #4c2c92;
}
.modal-close:hover {
  color: #003078;
}
.modal-close:active {
  color: #003078;
}
.modal-close:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: #ffdd00 !important;
}

#modal-title {
  margin-top: 15px;
}
@media (min-width: 641px) {
  #modal-title {
    margin-top: 20px;
  }
}

.modal__content p {
  margin-bottom: 0;
}

/* Custom override width for the main container (govuk-width-container) across any specified pages in the prototype */
.extra-page-width-1400 .govuk-width-container {
  max-width: 1400px;
}
@media (min-width: 1020px) {
  .extra-page-width-1400 .govuk-width-container {
    margin-left: 30px;
    margin-right: 30px;
  }
  @supports (margin: max(calc(0px))) {
    .extra-page-width-1400 .govuk-width-container  {
      margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
      margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
    }
  }
}
@media (min-width: 1460px) {
  .extra-page-width-1400 .govuk-width-container {
    margin-left: auto;
    margin-right: auto;
  }
  @supports (margin: max(calc(0px))) {
    .extra-page-width-1400 .govuk-width-container {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* Design history styling to tags in the table */
.design-history .govuk-list {
  margin-bottom: 0;
  padding-bottom: 0;
}

.design-history .govuk-tag {
  white-space: initial;
  overflow: initial;
}
@media(min-width: 40.0625em) {
  .design-history .govuk-tag {
    white-space: nowrap;
    overflow: hidden;
  }
}

/* Custom styles used for GOV.UK One Login (https://www.sign-in.service.gov.uk) */
.govuk-tag-current {
  display: inline-block;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: -2px;
  color: #fff;
  background-color: #1d70b8;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.language-select {
  margin: 15px 0 5px 0;
}
@media screen and (min-width: 767px) {
  .language-select {
    margin-bottom: -10px;
  }
}

.language-select__list {
  margin-top: 1em;
  text-align: right;
}

.language-select__list-item {
  display: inline-block;
}
.language-select__list-item:first-child::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.1875em;
  height: 1em;
  border-right: 0.09375em solid black;
}

.language-select__list-item a, .language-select__list-item [aria-current] {
  padding: 0.3125em;
}

@media screen and (max-width: 641px) {
  .language-select__list {
    float: none;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
  }
}