{% extends "v9/layouts/default.html" %}

{% block bodyStart %}
{{ super() }}
<script>
  document.body.className = (document.body.className ? document.body.className + ' ons-js-enabled' : 'ons-js-enabled');
</script>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">ONS line chart spike</h1>

    <div class="govuk-form-group">
      {% from "components/chart/_macro.njk" import onsChart %}
      <p class="govuk-body">ySeries length: {{ chart.ySeries | length }}</p>

      {{onsChart(chart)}}
    </div>
    
  </div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% if useOnsAssets %}
  <script>
    // Required for ONS chunk loading
    window.ONS_assets_base_URL = "https://cdn.ons.gov.uk/sdc/design-system/{{ onsVersion }}/";
  </script>
  <script type="module" src="https://cdn.ons.gov.uk/sdc/design-system/{{ onsVersion }}/scripts/main.js"></script>
  <script nomodule src="https://cdn.ons.gov.uk/sdc/design-system/{{ onsVersion }}/scripts/main.es5.js"></script>
{% endif %}
{% endblock %}
